.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  flex-direction: row;
}

.loading__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__content {
  width: 66%;
  background-color: #ffffff;
  height: 100vh;
  padding: 120px 24px 0 24px;
}

.home__content-filters {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

.home__content-cities_container {
  display: flex;
  margin-top: 40px;
  width: 100%;
  gap: 24px;
  flex-direction: row;
  align-items: start;
}

.home__content-cities {
  display: flex;
  gap: 24px;
  max-width: 900px;
  overflow-x: auto;
  padding-bottom: 18px;
}

.home__content-cities_notfound {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__week-days::-webkit-scrollbar,
.home__content-cities::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
  height: 10px;
}

.home__week-days::-webkit-scrollbar-track,
.home__content-cities::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

.home__week-days::-webkit-scrollbar-thumb,
.home__content-cities::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 30px;
}

.home__week-days::-webkit-scrollbar-thumb:hover,
.home__content-cities::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

.home__content-cities_buttons {
  display: flex;
  width: 100%;
  max-width: 280px;
  min-width: 180px;
  flex-direction: column;
  gap: 12px;
}

.home__content-cities_buttons-controls {
  display: flex;
  gap: 12px;
}

.home__content-cities_buttons-controls button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f4f8;
  height: 97px;
  width: 100%;
}

.home__content-cities_buttons-addButton {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: normal;
  background: #f2f4f8;
  height: 180px;
  max-width: 280px;
  min-width: 180px;
  width: 100%;
}

.home__content-cities_buttons-controls button:hover,
.home__content-cities_buttons-addButton:hover {
  filter: brightness(95%);
}

.home__content-cities_buttons-addButton h1:first-child {
  font-size: 48px;
}

.home__content-cities_buttons-addButton h1 {
  font-family: var(--font-mont);
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
}

.home__week {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
}

.home__content-cities_notfound h1,
.home__week h1 {
  font-family: var(--font-mont);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

.home__week-days {
  display: flex;
  gap: 48px;
  max-width: 900px;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 18px;
}

.home__sidemenu {
  width: 34%;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .home__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .home__content {
    width: 100%;
    padding: 40px 24px 0 24px;
  }

  .home__content-cities_container {
    flex-direction: column;
  }

  .home__content-cities {
    max-width: none;
    width: 100%;
  }

  .home__week-days {
    max-width: none;
    margin-bottom: 100px;
  }

  .home__sidemenu {
    margin-top: 80px;
    height: auto;
    width: 100%;
  }

  .home__content-cities_buttons {
    max-width: none;
    flex-direction: column-reverse;
  }

  .home__content-cities_buttons-addButton {
    max-width: none;
  }
}

@media screen and (max-width: 640px) {
  .home__content-filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}
