.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 24px;
  width: 100%;
}
.navbar__container {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.navbar h1 {
  font-family: var(--font-mont);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
  color: #000000;
}

.navbar h1 span {
  font-weight: 700;
}

.cl-internal-phfxlr {
  font-family: var(--font-mont);
}

@media screen and (max-width: 1024px) {
  .navbar h1 {
    font-size: 24px;
  }
}
